@aimport "./_hx-element";
@import "core/hx-icon";

.hx-accordion-btn {
  align-items: center;
  background-color: #ffffff;
  border: 0;
  cursor: pointer;
  display: flex;
  padding: 0;
  width: 100%;
}

.hx-accordion-pnl-body {
  display: none;

  &[open] {
    display: block;
  }
}

.hxStepArrow {
  flex: 0 0 1rem;
  font-size: 1rem;
  margin-left: 1rem;
  svg {
    height: 1rem;
    width: 1rem;
  }
}
