hx-accordion-panel {
  border-top: 1px solid @gray-300;
  display: block;
  padding: 24px 16px;

  header {
    align-items: center;
    display: flex;
    width: 95%;
  }

  &:hover {
    .hxStepCounter {
      background-color: @cyan-500;
    }
  }

  &[open] {
    .hxStepCounter {
      background-color: @cyan-500;
      color: @gray-0;
    }
  }

  &[disabled] {
    .hxStepCounter {
      background-color: @gray-400;
      color: @gray-700;
    }

    .hxAccordionPanelTitle,
    .hxStepTitle {
      color: @gray-700;
    }

    &:hover {
      .hxStepCounter {
        background-color: @gray-400;
        color: @gray-700;
      }
      header {
        cursor: inherit;
      }
    }
  }
}

.hxStepCounter {
  align-items: center;
  background-color: @cyan-900;
  border-radius: 1.25rem;
  color: @gray-0;
  display: flex;
  flex: 0 0 2.5rem;
  font-size: 1.5rem;
  height: 2.5rem;
  justify-content: center;
  margin-right: 1rem;
  text-align: center;
}

.hxAccordionPanelTitle,
.hxStepTitle {
  font-size: 1.5rem;
  font-weight: 400;
}

.hxStepTitle {
  flex: 0 0 40%;
  margin: 0 1rem 0 0;
  text-align: left;
}

.hxStepSelection {
  flex: 1 1 auto;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
}
