@import (reference) 'modules/box';

label.hxChoice {
  > input {
    position: absolute;
    top: -200px;
    
    &:checked {
      + hx-tile {
        border-color: @cyan-900;

        h4 {
          color: @cyan-900;
        }

        .hxSubBody {
          color: @gray-900;
        }

        hx-icon {
          color: @cyan-900;
        }

        hx-icon[type="checkmark"] {
          display: inline-block;
        }

        &:hover {
          background-color: @cyan-50;
          border-color: @cyan-500;
        }
      }

      &[invalid] {
        + hx-tile {
          h4 {
            color: @red-900;
          }
    
          hx-icon {
            color: @red-900;
          }
        }
      }
    }

    &[invalid] + hx-tile {
      border-color: @red-900;
      border-width: 2px;
  
      &:hover {
        background-color: @red-100;
        border-color: @red-900;
      }
  
      &:focus {
        border: none;
        box-shadow: 0 0 4px 0 fade(@red-500, 50%);
        outline: none;
      }
    }

    &[disabled] + hx-tile {
      background-color: @gray-25;
      border-color: @gray-300;
      cursor: not-allowed;
  
      h4, .hxSubBody {
        color: @gray-700;
      }

      hx-icon {
        color: @gray-500;
      }
    }
  }
}

hx-tile {
  &:extend(.hxBox-lg);
  background-color: @gray-0;
  border: solid 1px @gray-400;
  border-radius: 2px;
  display: inline-block;
  height: 100%;
  position: relative;
  text-align: center;
  width: 100%;

  h4 {
    font-weight: 700;
    margin-bottom: 0;
  }

  .hxSubBody {
    margin: 0.5rem 0 0 0;
  }

  &.hxSm {
    padding: 0.75rem;

    .hxSubBody {
      display: none;
    }
  }
  
  &.hxLg {
    padding: 1.75rem;
  }

  &:hover {
    background-color: @cyan-50;
    border: solid 1px @cyan-500;
  }

  &:focus {
    border: none;
    box-shadow: 0 0 3px 0 fade(@cyan-700, 50%);
    outline: none;
  }
  
  hx-icon[type="account"] {
    color: @gray-700;
    height: 1.75rem;
    margin: 0 auto 0.5rem;
    width: 1.75rem;
  }

  hx-icon[type="checkmark"] {
    display: none;
    color: @cyan-900;
    height: 1rem;
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
    width: 1rem;
  }

  &.hxSubdued {
    opacity: 0.7;
  }

  &[invalid]  {
    &:focus {
      border-width: 0;
      box-shadow: 0 0 4px 0 fade(@red-500, 50%);
      outline: none;
    }
  }
}
